@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $primary
	color: #fff

body
	margin: 0
	padding: 0
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

//default styles

.nb-video
	width: 100%

.nb-mob	
	display: none

.nb-img
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.nb-accent
	color: $primary
	font-weight: bold

.text-center
	text-align: center

b, strong
	font-weight: bold

h1,h2,h3,h4,h5,h6
	// font-family: "Oswald"

.loaded
	.nb-preloader
		display: none

.loaded_hiding 
	.nb-preloader 
		transition: 1s opacity
		opacity: 0

.nb-preloader
	position: fixed
	display: flex
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: $secondary
	z-index: 1000
	align-items: center
	justify-content: center
	.nb-rotated

		background-image: url('../img/dist/nucl.jpg')
		background-size: cover
		border-radius: 50%
		width: 100px
		height: 100px
		position: absolute
		animation: puls 1s infinite ease-in-out
	.nb-shifted
		height: 0
		width: 0
		background-color: #fff
		height: 100%
		animation: shift 3s infinite ease-in-out

@keyframes puls 
  	0%
	    box-shadow: 0 0 64px rgb(0,0,0)

@keyframes shift
	100%
		width: 100%


.nb-checkbox-container
	display: block
	position: relative
	padding: 16px
	cursor: pointer
	font-size: 16px
	user-select: none
	z-index: 2 !important
	transition: .4s
	width: 50%
	background-color: #fff
	color: $secondary !important
	&:hover
		color: $primary !important
		input ~ .nb-checkmark
			background-color: $secondary
	input:checked ~ .nb-checkmark
		background-color: lighten($primary,5%)
		height: 100%
		&::before
			content: 'Виконано'
			position: absolute
			top: 50%
			line-height: 0
			font-size: 16px
			left: 16px
			color: $secondary
	.nb-checkmark
		z-index: 1 !important
		transition: .4s
		position: absolute
		top: 0
		left: 0
		height: 0
		width: 100%
		background-color: #fff	
	input
		position: absolute
		opacity: 0
		cursor: pointer
		height: 0
		width: 0


.nb-display
	font-size: 5rem
	color: $secondary
	text-transform: uppercase
	letter-spacing: 2px

.nb-h1,.nb-h2,.nb-h3
	letter-spacing: 1px

.nb-h1
	font-size: 3rem

.nb-h2
	font-size: 2.5rem

.nb-h3
	font-size: 2rem

.nb-container
	display: grid
	padding: 32px 0

.nb-article
	grid-template-columns: 60%
	justify-content: center

//tingle plugin styles
.nb-modal
	display: none
	position: relative
	box-sizing: border-box
	video
		box-sizing: border-box
		width: 100%
		box-shadow: 0 0 32px rgba(0,0,0,.32)

.tingle-modal__close
	width: 20px
	height: 20px

.tingle-modal-box 
	position: relative
	border-radius: 0
	width: auto
	padding: 0 !important
	background-color: transparent

.tingle-modal-box__content
	padding: 0 !important
	height: auto !important

.tingle-modal-box__footer
	padding: 0 !important

.nb-single-workout
	grid-template-rows: 100% !important
	width: 100%
	padding: 64px!important
	.nb-display-content
		.nb-group
			z-index: 1
		position: relative
		overflow: hidden
		transition: .4s
		&:hover
			background-color: lighten($secondary, 5%)
			&::before
				top: 0px
				width: 1000px
				height: 1000px
				opacity: 0
		&::before
			transition: .4s
			z-index: 0
			content: ''
			position: absolute
			top: -400px
			left: 0
			width: 200px
			height: 700px
			transform: rotateZ(45deg)
			background-color: $primary
		box-shadow: 0 0 32px rgba(0,0,0,.32)
		// width: 320px
		background-color: $secondary
		// grid-template-columns: 100% !important
		padding: 0
		padding: 32px !important
		.nb-btn	
			margin-bottom: 8px
			background-color: #fff
			color: $secondary
			box-shadow: 0 0 16px rgba(255,255,255,.16)
			&:hover
				background-color: $secondary
				color: #fff
		.nb-img
			box-sizing: border-box
			z-index: 1
			width: 100% !important
			background-color: #fff
			padding: 64px

.nb-main-header
	box-sizing: border-box
	grid-template-columns: 100%
	grid-template-rows: auto 1fr
	background-position: center
	background-size: cover
	background-attachment: fixed
	height: 100vh
	justify-content: center
	align-items: center
	padding: 0
	&::before
		content: ''
		top: 0
		bottom: 0
		left: 0
		right: 0
		position: absolute
		height: 100vh
		background-color: $secondary
		opacity: .5
	.nb-display-menu
		z-index: 2
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr
		border-bottom: 5px solid $primary
		.nb-menu-item:nth-child(odd)
			background-color: darken($secondary, 5%)
		.nb-menu-item
			text-align: center
			// font-family: "Oswald"
			position: relative
			font-size: 16px
			// text-transform: uppercase
			font-weight: bold
			background-color: $secondary
			padding: 32px 0
			color: #fff
			text-decoration: none
			transition: .4s
			overflow: hidden
			&::before
				content: ''
				top: -50px
				bottom: 0
				right: -440px
				position: absolute
				width: 400px
				height: 300px
				background-color: $primary
				transform: rotateZ(30deg)
				transition: .4s
			&:hover
				background-color: lighten($secondary, 2%)
				&::before
					right: 0
					opacity: 0

	.nb-display-content
		display: grid
		grid-template-columns: 1fr 3fr
		grid-gap: 16px
		align-items: center
		padding: 0 64px
		color: #fff
		z-index: 2
		.nb-display
			display: inline-block
			color: #fff
			margin: 0
		.nb-img
			width: 300px			
			box-shadow: 0 0 32px rgba(0,0,0,.64)

.nb-btn
	box-sizing: border-box
	display: inline-block
	border: none
	outline: none
	background-color: $primary
	padding: 12px 24px
	color: #fff
	font-size: 14px
	font-weight: bold
	text-decoration: none
	transition: .4s
	&:hover
		background-color: lighten($primary, 5%)
		text-decoration: none
		color: #fff

.nb-main-footer
	justify-content: center
	align-items: center
	background-color: darken($secondary, 5%)
	color: #fff
	text-align: center
	text-transform: uppercase
	letter-spacing: 2px
	font-size: 14px
	padding: 32px


.nb-workouts
	padding: 0
	justify-content: center !important
	grid-template-columns: 25% 25% 25% 25%
	background-color: $secondary
	.nb-card:nth-child(odd)
		background-color: $secondary
		&:hover
			box-shadow: 0 0 32px rgba(0,0,0,.32)
			background-color: $primary

.nb-badge
	background-color: darken($primary,5%)
	display: inline-block
	padding: 4px 8px
	color: #fff

.nb-exersices
	.nb-card:nth-child(1)
		background-color: #fff
		.nb-card-head
			.nb-card-title
				font-size: 26px
				color: #000 !important
		.nb-card-content
			font-size: 16px
			color: $secondary !important

.nb-card
	&:hover
		box-shadow: 0 0 32px rgba(0,0,0,.32)
		background-color: $primary
		.nb-card-head
			.active
				color: #fff
			.nb-card-subtitle
				color: $secondary
	transition: .4s
	background-color: lighten($secondary, 5%)
	padding: 24px
	.nb-card-img
		background-color: #fff
		padding: 32px
		width: 50%
		margin-bottom: 16px
	.nb-card-head
		.active
			cursor: pointer
			color: $primary
			transition: .4s
		.nb-card-title
			font-size: 20px
			color: #fff
			margin: 0
		.nb-card-subtitle
			transition: .4s
			font-size: 14px
			text-transform: uppercase
			color: $primary
	.nb-card-content
		color: #f4f4f4
		padding-top: 8px
		font-size: 14px
	.nb-card-footer
		padding-top: 16px
		label
			color: #fff
			font-weight: bold
			text-transform: uppercase
			font-size: 14px
			letter-spacing: 2px

.controls
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	.control:nth-child(odd)
		background-color: darken($primary,5%)
		&:hover
			background-color: lighten($primary,5%)
	.control
		cursor: pointer
		text-align: left
		padding: 32px
		font-size: 16px
		font-family: $default-font
		&:hover
			box-shadow: 0 0 16px rgba(0,0,0,.16)
	
.nb-lotery
	background-color: $secondary
	padding: 0
	grid-template-columns: 1fr 1fr 1fr 1fr
	.nb-card:nth-child(1)
		background-color: #fff
		position: relative
		.nb-card-title
			color: $secondary
		&::before
			content: 'Тобі випало'
			position: absolute
			right: 0
			top: 0
			padding: 16px
			background-color: $primary
			color: #fff
			text-transform: uppercase



.nb-lotery-controls
	background-color: $secondary
	padding: 0
	grid-template-columns: 100% !important
	.control
		text-align: center !important
	.icon
		color: #fff !important



@import "media" // Always at the end
